<?xml version="1.0"?>
<launch>
	<arg name="robot_ip" default="192.168.1.102"/>
	<arg name="sensor_ip" default="192.168.1.1"/>
	<include file="$(find ur_modern_driver)/launch/ur5_bringup_joint_limited.launch">
		<arg name="robot_ip" value="$(arg robot_ip)"/>
	</include>

	<node pkg="soma_ur5" type="ur5_controller" name="ur5_controller"/>

	<!-- Pisa/IIT Hand -->
	<include if="$(arg hand)" file="$(find qb_interface)/launch/qb_interface.launch"/>

	<!-- ATI sensor -->
	<node pkg="netft_rdt_driver" type="netft_node" name="netft_node" args="--address $(arg sensor_ip)"/>
</launch>