<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.102"/>
  <arg name="sensor_ip" default="192.168.1.1"/>
  <arg name="simulated" default="true"/>
  <arg name="hand" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find soma_ur5)/robot/ur5_soma.urdf.xacro'" if="$(arg hand)"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_joint_limited_robot.urdf.xacro'" unless="$(arg hand)"/>


  <rosparam file="$(find soma_ur5)/config/ur5_settings.yaml" command="load"/>
  <param name="use_sim_time" value="false" unless="$(arg simulated)" />
  <param name="use_sim_time" value="true" if="$(arg simulated)" />


  


<group if="$(arg simulated)">
  <include file="$(find soma_ur5)/launch/ur5_gazebo.launch"/>
</group>

<group unless="$(arg simulated)">
<include file="$(find ur_modern_driver)/launch/ur5_bringup_joint_limited.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>
  <include if="$(arg hand)" file="$(find qb_interface)/launch/qb_interface.launch"/>
</group>
  <node pkg="soma_ur5" type="ur5_controller" name="ur5_controller"/>

  </launch>
